$navbar-default-bg: #3F51B5;

@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
  color: #C51162;
}
#logo{
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

#logo:hover {
  text-decoration: none;
  color: white;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('daughter.jpeg');
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: white;
  margin-bottom: 50px;
  text-align: center;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;

}
.article-title a{
  color: #9C27B0;
}

.article-title a:hover {
  text-decoration: none;
  color: #4A148C;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.article-description {
  margin-top: 0;
}

.articles-meta-details{
  border-top: 1px solid #eaeaea;
  margin-top: 10px;
  padding-top: 5px;

}

.article-actions {
  margin-top: 10px;
  border-top: 1px solid #eaeaea;
  padding-top: 10px;

}

.footer small{
  float:left;
}

.footer ul{
  float: right;
  list-style:none;
}

.footer ul li{
  float:left;
  margin-left: 10px;
}

.footer a{
  text-decoration:none;
  color: #009688;
}

.footer a:hover {
  color:#009688;
}
